$darkblue: #0e1323;
$mediumblue: #1d204b;
$lightblue: #33397b;
$lightestblue: #5746eb;

$white: #ffffff;
$offwhite: #a3a6d8;

$orange: #ff8a64;
$teal: #56c3e6;
$pink: #ff5f7c;
$green: #4ad083;
$purple: #7334d2;
$yellow: #f1c65a;
