@use "colors" as *;
@use "reset" as *;
@use "time-card-widget" as *;
//@import "colors.scss";

.App {
	min-height: 100vh;
	width: 100vw;

	padding-top: 100px;
	padding-bottom: 100px;
	background-color: $darkblue;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
}
