@use "colors" as *;
@use "name-card" as *;
@use "time-cards" as *;

.time-card-widget {
	width: 75vw;
	min-width: 300px;

	height: 75vh;
	min-height: 350px;

	border: 1px solid white;

	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;

	flex-wrap: wrap;
}

@media screen and (max-width: 1750px) {
	.time-card-widget {
		& .time-cards {
			& .time-card {
				flex-basis: 50%;
			}
		}
	}
}

@media screen and (max-width: 1120px) {
	.time-card-widget {
		flex-direction: column;
		height: auto;

		& .time-cards {
			flex: auto;
			flex-direction: column;
			flex-wrap: nowrap;
			height: auto;

			& .time-card {
				width: 100%;
				min-height: 250px;
				height: 20vw;
			}
		}

		align-items: stretch;
	}
}
