@use "colors" as *;
@use "name-card" as *;
@use "time-cards" as *;

.time-card-widget {
	width: 75vw;
	min-width: 300px;

	border: 1px solid white;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;

	flex-wrap: wrap;

	& > div {
		min-width: 200px;
	}
}

@media screen and (max-width: 1120px) {
	.time-card-widget {
		flex-direction: column;
		width: 75vw;
		min-width: 300px;
	}
}
